<caption class="w-100"></caption>
<table class="table container mt-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Color</th>
      <th scope="col">Option</th>
      <th>
        <button type="button" class="btn btn-success">Add new Product</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.color }}</td>
      <td>
        <button type="button" class="btn btn-danger mx-4">Delete</button>
        <button type="button" class="btn btn-warning">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
